<h2>Update Job Request</h2>
<br>
<div>
    <form>
      <label>Job Id</label>
      <input type="text" disabled="true" name="job_id" readonly>

      <label for="skills">Skill 1:</label>
      <select name="skill_1" id="skill_1">
        <option value="" disabled selected hidden>Choose your option</option>
        <option value="java">Java</option>
        <option value="python">Python</option>
        <option value="c++">C++</option>
      </select>

      <label for="skills">Skill 2:</label>
      <select name="skill_2" id="skill_2">
        <option value="" disabled selected hidden>Choose your option</option>
        <option value="java">Java</option>
        <option value="python">Python</option>
        <option value="c++">C++</option>
      </select>
      
      <label for="skills">Skill 3:</label>
      <select name="skill_3" id="skill_3">
        <option value="" disabled selected hidden>Choose your option</option>
        <option value="java">Java</option>
        <option value="python">Python</option>
        <option value="c++">C++</option>
      </select>
      
      <label>Count</label>
      <input type="text" name="count">
  
      <label>Budget</label>
      <input type="text" name="budget">

      <input type="submit" value="Update">
    </form>
  </div>


